<html>
  <head>
    <title>My First Astro App</title>
  </head>
  <body>
    <h1>My Astro Site</h1>
    <p>I am learning Astro framework.</p>
  </body>
</html>
https://github.com/Triptii03/my-first-astro-app.git